body{background-image:url(8.jpeg);
	background-size:cover;
	background-repeat:no-repeat;}

.container{position:relative;
			top:50%;
			margin-left:50%;
			transform:translate(-50%,-50%);
			width:40%;
			height:500px;
			border-radius:25px;
			background-color:rgb(0,0,0,0.6);
			}

.header{text-align:center;
	color:#d5ba9f;
	font-family:"Comic Sans MS";	
		}

.main{
	text-align:left;
	width: 70%;
	padding: 15px;
	margin: 0 auto;
	float: right;

	}
	
::placeholder{color:#d5ba9f;
				font-family:"Comic Sans MS";
				letter-spacing:0.2px;}
.main button{text-align:center;
		width:100px;
		height:40px;
		letter-spacing:1px;
		border-radius:20px;
		transition-property:all;
		transition-duration:0.5s;
					
		}
.main input,button{border:none;
					height:30px;
					
					}
.main input{border:none;
			color:#ffa42e;
					height:30px;
					width:200px;
					position:static;
					background-color:transparent;
					border-bottom:2px solid #d5ba9f;
					outline:none;
					transition-property:all;
					transition-duration:0.5s;
					
					}
.main input:hover{border-bottom:2px solid #ffa42e;
}

.main button:hover{background-color:#ffa42e;}